src/KeyFreak/commands.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="keyFreak">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="keyCommands">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="command" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="id" use="required" />
											<xs:attribute type="xs:string" name="key" use="required"/>
											<xs:attribute type="xs:string" name="description" use="optional" />
											<xs:attribute type="xs:string" name="commandType" use="required"/>
											<xs:attribute type="xs:string" name="parameters" use="optional"/>
											<xs:attribute type="xs:string" name="iconPath" use="optional"/>
											<xs:attribute type="xs:string" name="parent" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>